<div *ngIf="detailedgit">
  <h2>{{detailedgit.gitId}} : {{detailedgit.gitName}}</h2>
  <div><span>languages ratio: </span>{{detailedgit.languagesRatio}}</div>
  <div>{{detailedgit.numberCommits}} commits</div>
</div>
